@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* Reset global + box-sizing */
* { box-sizing: border-box; }  // Universel

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%;
    line-height: 1.7;
    width: 100%;
    -webkit-font-smoothing: antialiased; /* Rend la police plus nette sur Mac/iOS */
    -moz-osx-font-smoothing: grayscale;
    color: #646464;
    background-color: #fff;
}


/* Print-friendly */
@media print {
    body { -webkit-print-color-adjust: exact; print-color-adjust: exact;}
}

/* Focus visible pour a11y */
*:focus-visible { outline: 2px solid #4460f1; outline-offset: 2px; }